<h1>Update Information Form</h1>
<b>User:</b> {{name}}<br/>
<form action="/process" method="POST">
New Location: <br />
<input type="text"  name="newLocationValue"><br />
 New Phone: <br />
<input type = "number" name="newPhoneValue"><br />
<button type="submit">Change</button>
</form>
<p>
    <a href="/logout">Log out</a>
</p>