<h1>Profile</h1>
    <h3>{{name}}</h3>
    <p>
        User Name: {{uname}}<br />
        Office Location: {{Offlocation}}<br />
        phoneNumber: {{phone}} <br />
    </p>

<h3>
    <a href="/updateInfo">Update Information</a>
</h3>
<p>
    <a href="/logout">Log out</a>
</p>